<div class="container">
<h1>注文履歴詳細</h1>

  <h2>注文情報</h2>
    <h4>注文日</h4>
    <%= @orders.created_at.strftime("%Y/%m/%d") %>
    <h4>配送先</h4>
    <%= @orders.postal_code %>
    <%= @orders.address %>
    <%= @orders.name %>
    <h4>支払方法</h4>
    <%= @orders.payment_method %>
    <h4>ステータス</h4>
    <%= @orders.status %>

    <h2>請求情報</h2>
      <h4>商品合計</h4>
      <%= @orders.total_payment - @orders.shipping_cost %>
      <h4>配送料</h4>
      <%= @orders.shipping_cost %>
      <h4>ご請求額</h4>
      <%= @orders.total_payment %>

    <h2>注文内容</h2>
      <h4>商品</h4>
      <% @details.each do |detail| %>
      <%= detail.item.name %>
      <h4>単価（税込）</h4>
      <%= ((detail.price*1.1).round(2)).ceil %>
      <h4>個数</h4>
      <%= detail.amount %>
      <h4>小計</h4>
      <%= ((detail.price*1.1).round(2)).ceil*detail.amount %>

      <% end %>
      </div>